#foreground {
  background: #28282b;
}

#foreground #side-bar {
  background: rgba(0, 0, 0, 0.1);
}

#foreground #index {
  color: #fff;
}

#foreground nav {
  background-color: black;
}

.container-fluid {
  margin: 0;
  padding: 0;
}
