#loginModal .modal-dialog {
  width: 300px;
}

body {
  background: #191919;
}

#side-bar {
  background: rgba(0, 0, 0, 0.1);
}

#index {
  color: #fff;
}

nav {
  background-color: black;
  padding: 0 1rem !important;
  line-height: 2.4 !important;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

#profile .dropdown-menu {
  left: auto;
  right: 0;
  background: black;
}

#profile .dropdown-menu a:hover {
  background-color: transparent;
}

#profile .dropdown-menu a:hover::after {
  content: '';
  position: absolute;
  background: #28a745;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
}

nav .navbar-brand {
  font-weight: 500;
  font-size: 25px;
}

#nav-type > li > a {
  font-size: 19px;
  font-weight: 500;
}

#nav-type > li > a:hover::after {
  content: '';
  position: absolute;
  background: #28a745;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 4px;
}

#nav-type a.active::after {
  content: '';
  position: absolute;
  background: #28a745;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 4px;
}

#article .article h1,
#index #article-list > div h5 {
  color: white;
}

#index #article-list > div,
#article .article {
  background-color: #28282b;
}

#article .article #content {
  color: whitesmoke;
}

#article .article span,
#index #article-list > div > div {
  color: gray;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: black;
}
