#loginModal .modal-dialog {
  width: 300px;
}

body, nav, #content {
  background: #f5f6f7;
}

#article-list > a {
  text-decoration: none;
}

#article-list .article:hover {
  background: #d6d7d8;
}

.navbar .dropdown-menu {
  left: auto;
  right: 0;
}

#card-me {
  background: transparent;
  border: none;
}

#card-tags {
  background: transparent;
  border: none;
}
