{% extends 'background/index.html' %}
{% load static %}

{% block content %}
  <div class="publish mt-2 w-100">
    <form method="post" action="{% url 'background:article_add' %}">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
      {% if article %}
        <input type="hidden" name="method" , value="put">
        <input type="hidden" name="article_id" , value="{{ article.id }}">
      {% else %}
        <input type="hidden" name="method" , value="post">
      {% endif %}
      <div class="form-group mb-1 d-flex justify-content-between">
        <div>
          <div class="input-group input-group-sm">
            <div class="input-group-prepend"><span class="input-group-text">Type</span></div>
            <select id="article-type" name="article_type" class="custom-select custom-select-sm" required>
              {% for type in article_types %}
                <option value="{{ type.id }}"
                        {% if article and article.article_type.id == type.id %}selected{% endif %}>{{ type.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div>
          <div class="input-group input-group-sm">
            <div class="input-group-prepend ml-1"><span class="input-group-text">IsHide</span></div>
            <select id="is_hide" name="is_hide" class="custom-select custom-select-sm" required>
              <option value="False" {% if not article.is_hide %}selected{% endif %}>PUBLIC</option>
              <option value="True" {% if article.is_hide %}selected{% endif %}>PRIVATE</option>
            </select>
          </div>
        </div>
        <div class="w-25">
          <div class="input-group input-group-sm">
            <div class="input-group-prepend ml-1"><span class="input-group-text">Tags</span></div>
            <input type="text" id="tags" name="tags" class="form-control" placeholder=""
                   required value="{% for tag in article.tags.iterator %}{{ tag.name }} {% endfor %}">
          </div>
        </div>
        <div class="w-50">
          <div class="input-group input-group-sm">
            <div class="input-group-prepend"><span class="input-group-text">Title</span></div>
            <input type="text" id="title" name="title" class="form-control" placeholder="" required
                   value="{% if article %}{{ article.title }}{% endif %}">
            <div class="input-group-append">
              <button id="submit" type="submit" class="btn btn-secondary">Publish</button>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group mt-2">
        <div class="row">
          <div class="col-lg-6">
            <textarea id="content" name="content" class="w-100" placeholder="Enjoying blogging ..." oninput="contentChange()"
                      style="height: 500px;">{% if article %}{{ article.content }}{% endif %}</textarea>
          </div>
          <div class="col-lg-6">
            <div id="preview" class="h-100 px-1">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}

{% block script %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.5.2/marked.min.js"></script>
  <script>
    function contentChange() {
      console.log($("#content").val());
      // convert markdown string to html
      let renderer = new marked.Renderer();
      let toc = [];
      renderer.heading = function (text, level, raw) {
        let anchor = this.options.headerPrefix + raw.toLowerCase();
        toc.push({
          anchor: anchor,
          level: level,
          text: text,
          children: [],
        });
        return '<h'
            + level
            + ' id="'
            + anchor
            + '">'
            + text
            + '</h'
            + level
            + '>\n';
      };
      renderer.link = function (href, title, text) {
        let link = marked.Renderer.prototype.link.call(this, href, title, text);
        return link.replace("<a", "<a target='_blank' ");
      };
      marked.setOptions({
        renderer: renderer,
        breaks: true,
        smartLists: true,
      })
      $("#preview").empty();
      $('#preview').append(marked($("#content").val()));
    }
  </script>
{% endblock %}
