{% extends 'background/base.html' %}

{% block content %}
  <div class="article-type mt-4">
    <form>
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
      <div class="form-row">
        <div class="col-auto">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">Name</div>
            </div>
            <input type="text" class="form-control" id="article-type" placeholder="type name">
          </div>
        </div>
        <div class="col-auto">
          <div class="col-auto">
            <button type="button" id="add-type" class="btn btn-primary mb-2">AddType</button>
          </div>
        </div>
      </div>
    </form>
    <table class="table table-hover table-bordered mt-4">
      <thead>
      <tr>
        <th scope="col" class="text-center">ID</th>
        <th scope="col" class="text-center">Name</th>
        <th scope="col" class="text-center">Delete</th>
      </tr>
      </thead>
      <tbody>
      {% for article_type in article_types %}
        <tr>
          <th scope="row" class="text-center">{{ article_type.id }}</th>
          <td class="text-center">{{ article_type.name }}</td>
          <td class="text-center">
            <button class="btn btn-danger" onclick="del_type({{ article_type.id }})">delete</button>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block script %}
  {{ super() }}
  <script>
      function del_type(type_id) {
          $.ajax({
              type: "DELETE",
              url: window.location,
              beforeSend: function (xhr, settings) {
                  xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
              },
              data: JSON.stringify({
                  "typeId": type_id
              }),
              contentType: "application/json; charset=utf-8",
              dataType: "json"
          }).done(function (data) {
              if (data['ret_code'] === 0) {
                  alert("Delete successfully.");
                  window.location.href = window.location.href;
              } else {
                  alert("Delete failed:" + data['error']);
              }
          })
      }

      function add_type() {
          $.ajax({
              type: "POST",
              url: window.location,
              beforeSend: function (xhr, settings) {
                  xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
              },
              data: JSON.stringify({
                  "name": $("#article-type").val()
              }),
              contentType: "application/json; charset=utf-8",
              dataType: "json"
          }).done(function (data) {
              if (data['ret'] === 'SUCCESS') {
                  alert("Success!");
              } else {
                  alert("Failed:" + data['ret']);
              }
          });
      }

      $(function () {
          $("#add-type").click(function () {
              add_type();
          });
      })
  </script>
{% endblock %}