{% extends 'background/base.html' %}

{% block content %}
  <div class="articles">
    <table class="table table-hover table-bordered mt-4">
      <thead>
      <tr>
        <th scope="col" class="text-center">ID</th>
        <th scope="col" class="text-center">Title</th>
        <th scope="col" class="text-center">Type</th>
        <th scope="col" class="text-center">Views</th>
        <th scope="col" class="text-center">CreateTime</th>
        <th scope="col" class="text-center">Del</th>
      </tr>
      </thead>
      <tbody>
      {% for article in articles %}
        <tr>
          <th scope="row" class="text-center">{{ article.id }}</th>
          <td class="text-center"><a href="/foreground/articles/{{ article.id }}">{{ article.title }}</a></td>
          <td class="text-center">{{ article.article_type.name }}</td>
          <td class="text-center">{{ article.views }}</td>
          <td class="text-center">{{ article.create_time }}</td>
          <td class="text-center">
            <button class="btn btn-danger" onclick="delete_article({{ article.id }})">delete</button>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block script %}
  {{ super() }}
  <script>
      function delete_article(article_id) {
          $.ajax({
              type: "DELETE",
              url: window.location,
              beforeSend: function (xhr, settings) {
                  xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
              },
              data: JSON.stringify({
                  "articleId": article_id
              }),
              contentType: "application/json; charset=utf-8",
              dataType: "json"
          }).done(function (data) {
              if (data["ret_code"] === 0) {
                  alert("Delete successfully.");
                  window.location.href = window.location.href;
              } else {
                  alert("Delete failed:" + data["error"]);
              }
          })
      }
  </script>
{% endblock %}