{% extends 'background/base.html' %}

{% block content %}
  <div class="articles">
    <table class="table mt-5">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Type</th>
        <th scope="col">Views</th>
        <th scope="col">CreateTime</th>
      </tr>
      </thead>
      <tbody>
      {% for article in articles %}
        <tr>
          <th scope="row">{{ article.id }}</th>
          <td>{{ article.title }}</td>
          <td>{{ article.article_type.name }}</td>
          <td>{{ article.views }}</td>
          <td>{{ article.create_time }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block script %}
{% endblock %}