<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" href="/static/css/background.css">

  <link rel="icon" href="/static/image/binarylife.ico" type="image/x-icon"/>

  <title>{% block title %}BINARY_LIFE{% endblock %}</title>
  {% block head %}{% endblock %}
</head>
<body>
<div id="background" class="container-fluid">
  <div class="row">
    <div id="col-left" class="col-2 border-right pl-5 pt-3">
      <div id="side-bar">
        <div class="">
          <a class="nav-link" href="/">Foreground</a>
        </div>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/background/">DashBoard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/background/article">Article</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/background/article_type">ArticleType</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/background/publish">Publish</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-right col-10 border-right">
      {% if messages %}
        {% for message in messages(request) %}
          {% if message.tags == 'success' %}
            <div class="alert alert-success mt-2">{{ message }}
              <button type="button" id="close" class="close" aria-label="Close"><span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% elif message.tags == 'error' %}
            <div class="alert alert-danger mt-2">{{ message }}
              <button type="button" id="close" class="close" aria-label="Close"><span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% elif message.tags == 'info' %}
            <div class="alert alert-info mt-2">{{ message }}
              <button type="button" id="close" class="close" aria-label="Close"><span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% elif message.tags == 'warning' %}
            <div class="alert alert-warning mt-2">{{ message }}
              <button type="button" id="close" class="close" aria-label="Close"><span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% elif message.tags == 'debug' %}
            <div class="alert alert-primary mt-2">{{ message }}
              <button type="button" id="close" class="close" aria-label="Close"><span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
      {% block content %}{% endblock %}
    </div>
  </div>
</div>
</body>

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>

<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script>
    function resize_height() {
        var sidebar_h = $("#side-bar").height(),
            body_h = $(window).outerHeight();
        <!-- For side-bar border line is from top to bottom -->
        $("#col-left").css("min-height", sidebar_h > body_h ? sidebar_h : body_h);
    }

    $(function () {
        resize_height();
        $(window).resize(function () {
            resize_height();
        });

        $("#close").click(function () {
            $(this).parent().remove();
        });
    })
</script>
{% block script %}{% endblock %}
</html>
