{% extends 'background/base.html' %}

{% block head %}
  {{ super() }}
  <link href="https://cdn.bootcss.com/bootstrap-markdown/2.10.0/css/bootstrap-markdown.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="publish mt-2">
    <form>
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend w-25">
            <select id="article-type" class="form-control">
              {% for type in article_types %}
                <option>{{ type.name }}</option>
              {% endfor %}
            </select>
          </div>
          <input type="text" id="title" name="title" class="form-control" placeholder="Title">
        </div>
      </div>
      <div class="form-group">
        <textarea id="content" name="content"></textarea>
      </div>
      <div class="col-auto pull-right">
        <button id="submit" type="button" class="btn btn-primary mb-2">Submit</button>
      </div>
    </form>
  </div>
{% endblock %}

{% block script %}
  {{ super() }}
  <script src="/static/libs/markdown/markdown.min.js"></script>
  <script src="/static/libs/markdown/to-markdown.min.js"></script>
  <script src="/static/libs/markdown/bootstrap-markdown.js"></script>
  <script src="/static/libs/markdown/bootstrap-markdown.fr.js"></script>
  <script>
      function submit_article() {
          $.ajax({
              type: "POST",
              url: window.location,
              beforeSend: function (xhr, settings) {
                  xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
              },
              data: JSON.stringify({
                  "title": $("#title").val(),
                  "content": $("#content").val(),
                  "article_type": $("#article-type").val(),
              }),
              contentType: "application/json; charset=utf-8",
              dataType: "json"
          }).done(function (data) {
              if (data['ret'] === 'SUCCESS') {
                  alert('Publish success!');
              } else {
                  alert('Publish Failed!' + data['ret']);
              }
          });
      }

      function set_markdown() {
          $("#content").markdown({
              autofocus: true,
              savable: false,
              resize: 'vertical',
              iconlibrary: 'fa',
              height: '500',
          });
      }

      $(function () {
          $("#submit").click(function () {
              submit_article();
          });
          set_markdown();
      })
  </script>
{% endblock %}