{% extends 'background/base.html' %}

{% block content %}
  <div class="article-type mt-4">
    <form method="post" action="/background/article_type/">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
      <input type="hidden" name="method" value="post">
      <div class="form-row">
        <div class="col-auto">
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <div class="input-group-text">Name</div>
            </div>
            <input type="text" class="form-control" name="name" id="article-type" placeholder="type name">
          </div>
        </div>
        <div class="col-auto">
          <div class="col-auto">
            <button type="submit" id="add-type" class="btn btn-sm btn-secondary mb-2">Add</button>
          </div>
        </div>
      </div>
    </form>
    <table class="table table-hover table-sm mt-4">
      <thead>
      <tr>
        <th scope="col" class="text-center">ID</th>
        <th scope="col" class="text-center">Name</th>
        <th scope="col" class="text-center">Delete</th>
      </tr>
      </thead>
      <tbody>
      {% for article_type in article_types %}
        <tr>
          <td class="text-center">{{ article_type.id }}</td>
          <td class="text-center">{{ article_type.name }}</td>
          <td class="text-center">
            <button class="btn btn-sm btn-outline-danger"
                    onclick="del_type(this, '{% url 'background:article_type_del' article_type.id %}')">Del
            </button>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block script %}
  <script>
    function del_type(event, the_url) {
      let $row = event.parentNode.parentNode;
      $.ajax({
        url: the_url,
        data: {
          "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val(),
        },
        success: function (data) {
          if (data.hasOwnProperty('failed')) {
            alert(data.failed);
          } else {
            // delete row
            $row.parentNode.deleteRow($row.rowIndex - 1);
          }
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
          alert(XMLHttpRequest.status + ' ' + errorThrown);
        },
        dataType: "json",
      });
    }
  </script>
{% endblock %}
