{% extends 'background/base.html' %}
{% load static %}

{% block head %}
  <link href="{% static 'libs/editor.md/css/editormd.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="publish mt-2">
    <form method="post" action="{% url 'background:publish_post' %}">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
      {% if article %}
        <input type="hidden" name="method" , value="put">
        <input type="hidden" name="article_id" , value="{{ article.id }}">
      {% else %}
        <input type="hidden" name="method" , value="post">
      {% endif %}
      <div class="form-group mb-1">
        <div class="input-group input-group-sm">
          <div class="input-group-prepend"><span class="input-group-text">Title</span></div>
          <input type="text" id="title" name="title" class="form-control" placeholder="" required
                 value="{% if article %}{{ article.title }}{% endif %}">
          <div class="input-group-append">
            <button id="submit" type="submit" class="btn btn-secondary">Publish</button>
          </div>
        </div>
      </div>
      <div class="form-group mb-1">
        <div class="input-group input-group-sm">
          <div class="input-group-prepend"><span class="input-group-text">Type</span></div>
          <div class="input-group-prepend">
            <select id="article-type" name="article_type" class="custom-select custom-select-sm" required>
              {% for type in article_types %}
                <option value="{{ type.id }}"
                        {% if article and article.article_type.id == type.id %}selected{% endif %}>{{ type.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="input-group-prepend ml-1"><span class="input-group-text">IsHide</span></div>
          <div class="input-group-prepend">
            <select id="is_hide" name="is_hide" class="custom-select custom-select-sm" required>
              <option value="False" {% if not article.is_hide %}selected{% endif %}>PUBLIC</option>
              <option value="True" {% if article.is_hide %}selected{% endif %}>PRIVATE</option>
            </select>
          </div>
          <div class="input-group-prepend ml-1"><span class="input-group-text">Tags</span></div>
          <input type="text" id="tags" name="tags" class="form-control" placeholder="(e.g.(python sql-server linux)"
                 required value="{% for tag in article.tags.iterator %}{{ tag.name }} {% endfor %}">
        </div>
      </div>
      <div class="form-group">
        <div id="my-editormd" class="m-0 w-100">
          <textarea id="content" name="content" style="display:none;" required>
            {% if article %}{{ article.content }}{% endif %}</textarea>
        </div>
      </div>
    </form>
  </div>
{% endblock %}

{% block script %}
  <script src="{% static 'libs/editor.md/editormd.min.js' %}"></script>
  <script>
    function set_markdown() {
      editormd("my-editormd", {
        width: "90%",
        height: 640,
        syncScrolling: "single",
        path: "/static/libs/editor.md/lib/",
        saveHTMLToTextarea: true,
      });
    }

    $(function () {
      set_markdown();
    })
  </script>
{% endblock %}