<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">

  <link rel="stylesheet" href="/static/css/foreground.css">

  <link rel="icon" href="/static/image/binarylife.ico" type="image/x-icon"/>
  <title>{% block title %}BINARY_LIFE{% endblock %}</title>
  {% block head %}{% endblock %}
</head>
<body>
<div class="container-fluid">
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark pl-5">
    <a class="navbar-brand" href="/"> BL </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse ml-5" id="navbarSupportedContent">
      <ul id="nav-type" class="navbar-nav mr-auto">
        {% for article_type in article_types %}
          <li class="nav-item">
            {% set typeid = request.path.split('/') | last %}
            {% set url_path = request.path.split('/').2 %}
            <a class="nav-link position-relative text-white {% if url_path == 'type_articles' and typeid|int == article_type.id %}active{% endif %}"
               href="/foreground/type_articles/{{ article_type.id }}">{{ article_type.name }}</a>
          </li>
        {% endfor %}
      </ul>
      <ul class="navbar-nav ml-auto">
        {% if request.user.is_active %}
          <li id="profile" class="nav-item dropdown">
            <button type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
              <i class="fa fa-user"></i> {{ request.user }}
            </button>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item text-success position-relative" href="/background"><i class="fa fa-inbox"></i>
                background</a>
              <a class="dropdown-item text-success position-relative" href="/logout"><i class="fa fa-sign-out"></i> log
                out</a>
            </div>
          </li>
        {% else %}
          <li class="nav-item">
            <button class="btn btn-outline-success my-2 my-sm-0" data-toggle="modal" data-target="#loginModal">Login
            </button>
          </li>
        {% endif %}
      </ul>
      {#
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      #}
    </div>
  </nav>
  {% block content %}{% endblock %}

  <!-- Modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content bg-light">
        <div class="modal-body">
          <form>
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <div class="form-group">
              <input type="text" class="form-control border-secondary" id="username" name="username"
                     placeholder="username">
            </div>
            <div class="form-group">
              <input type="password" class="form-control border-secondary" id="password" name="password"
                     placeholder="password">
            </div>
            <p id="error" class="text-center" style="color: red;"></p>
            <button id="login-click" type="button" class="btn btn-outline-secondary w-100">LOGIN</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<nav class="footer">
  <div class="container text-center">
    <span> Jedore</span>
    <span> &copy;2018</span>
    <span class="ml-5"> 阿里云</span>
    <span class="ml-5"> 皖ICP备17028326号-1</span>
  </div>
</nav >

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>

<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/moment.js/2.20.1/moment.min.js"></script>
<script src="https://cdn.bootcss.com/moment-timezone/0.5.14/moment-timezone.min.js"></script>
<script src="https://cdn.bootcss.com/moment-timezone/0.5.14/moment-timezone-with-data.min.js"></script>
<script>
    function login_click() {
        $.ajax({
            type: "POST",
            url: window.location.origin + "/login/",
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
            cache: false,
            data: JSON.stringify({
                "username": $("#username").val(),
                "password": $("#password").val()
            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        }).done(function (data) {
            if (data['ret_code'] === 0) {
                window.location.href = window.location.href
            } else {
                $("#error").text(data['error']);
            }
        });
    }

    function transform_time() {
        $.each($(".create-time"), function () {
            var utc_time = $(this).attr('utc_time');
            time_zone = moment.tz.guess();
            local_time = moment.tz(utc_time, time_zone).format("MM-DD-YYYY HH:mm:ss");
            $(this).text(local_time);
        })
    }

    /*
    function resize_height() {
        var base_h = $("#article-list").height(),
            body_h = $(window).outerHeight(),
            footer_h = $("footer").height();
        //$("#index").css("min-height", base_h - footer_h > body_h -footer_h ? base_h : body_h);
        $("content").css("min-height", base_h > body_h ? base_h : body_h);
    }
    */

    $(function () {
        $("#login-click").click(function () {
            login_click();
        });
        /*resize_height();
        $(window).resize(function () {
            resize_height();
        });*/
    })
</script>
{% block script %}{% endblock %}
</body>
</html>

