{% extends 'foreground/base.html' %}
{% block content %}
  <div id="index" class="container">
    <div class="row justify-content-center">
      <!--<div id="side-bar" class="col-2 bg-dark"></div>-->
      <div id="article-list" class="col-10">
        {% for article in articles %}
          <div class="m-3 p-2">
            <h5 class="">{{ article.title }}</h5>
            <div class="badge badge-dark pl-0 create-time" utc_time="{{ article.create_time }}"></div>
            <div class="badge badge-dark">{{ article.article_type.name }}</div>
            <a href="/foreground/articles/{{ article.id }}" class="btn btn-link btn-sm float-right">More <i
                class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  {{ super() }}
  <script>
      $(function () {
          transform_time();
      })
  </script>
{% endblock %}
