{% extends "foreground/base.html" %}
{% load static %}

{% block head %}
  <link href="{% static 'libs/editor.md/css/editormd.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div id="article">
    <div class="article-head">
      <h3>{{ article.title }}</h3>
      <div class="badge badge-light text-right text-secondary">
        <i class="fa fa-clock-o mr-1"></i>{{ article.create_time | date:"Y-m-d H:i:s" }}
      </div>
      {% if request.user.is_superuser %}
        <a id="edit" href="{% url 'background:publish_get' %}?article_id={{ article_id }}" class="badge badge-secondary">
          <i class="fa fa-pencil-square-o mr-1" aria-hidden="true"></i>Edit
        </a>
      {% endif %}
    </div>
    <div class="editormd-preview-theme-light d-block">
      <div id="content">
        <textarea style="display:none;">{{ article.content }}</textarea>
      </div>
    </div>
    <div id="comments">
      <h5>COMMENTS <span class="badge badge-pill badge-secondary">{{ article.comments.count }}</span></h5>
      <hr id="split-line">
      <div id="comment-list">
        {% for comment in article.comments.iterator %}
          {% if not comment.reply_id %}
            <div id="comment-{{ comment.id }}">
              <div>
                {% if comment.is_author %}
                  <span class="fa fa-paint-brush"></span>
                {% endif %}
                {{ comment.name }}
              </div>
              <small class="text-secondary">{{ comment.create_time | date:"Y-m-d H:i" }}</small>
              <p>{{ comment.comment }}</p>
              <button class="btn btn-sm btn-link p-0 reply" onclick="reply(this, {{ comment.id }})">
                <i class="fa fa-reply mr-1" aria-hidden="true"></i>Reply
              </button>
              <div class="reply-list ml-5">
                {% for reply in comment.replies.iterator %}
                  <hr>
                  <div>
                    {% if reply.is_author %}
                      <span class="fa fa-paint-brush"></span>
                    {% endif %}
                    {{ reply.name }}
                  </div>
                  <small class="text-secondary">{{ reply.create_time | date:"Y-m-d H:i" }}</small>
                  <p>{{ reply.comment }}</p>
                {% endfor %}
              </div>
            </div>
            <hr>
          {% endif %}
        {% endfor %}
      </div>
      <div id="commit">
        <h5 class="d-inline">Leave a Comment</h5>
        <button class="btn btn-sm btn-link cancel-reply" onclick="cancel_reply()" hidden>
          <i class="fa fa-times"> Cancel reply</i>
        </button>
        <small class="d-block">Required fields are marked *</small>
        <textarea id="comment" class="form-control mt-2" placeholder="* Your comment" style="height: 100px;"></textarea>
        {% if not request.user.is_authenticated %}
          <input id="name" type="text" class="form-control form-control-sm mt-1" placeholder="* Name" maxlength="16">
        {% endif %}
        <input id="reply-id" type="text" value="" hidden>
        <button class="btn btn-sm btn-dark mt-2 pl-4 pr-4" onclick="commit_comment()"> POST</button>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script src="{% static 'libs/editor.md/lib/marked.min.js' %}"></script>
  <script src="{% static 'libs/editor.md/lib/prettify.min.js' %}"></script>
  <script src="{% static 'libs/editor.md/lib/raphael.min.js' %}"></script>
  <script src="{% static 'libs/editor.md/lib/underscore.min.js' %}"></script>
  <script src="{% static 'libs/editor.md/lib/sequence-diagram.min.js' %}"></script>
  <script src="{% static 'libs/editor.md/lib/flowchart.min.js' %}"></script>
  <script src="{% static 'libs/editor.md/lib/jquery.flowchart.min.js' %}"></script>
  <script src="{% static 'libs/editor.md/editormd.js' %}"></script>
  <script>
    let testEditor;
    $(function () {
      testEditor = editormd.markdownToHTML("content", {//注意：这里是上面DIV的id
        htmlDecode: "style,script,iframe",
        emoji: true,
        taskList: true,
        tex: true, // 默认不解析
        flowChart: true, // 默认不解析
        sequenceDiagram: true, // 默认不解析
        codeFold: true,
      });
    });

    function commit_comment() {
      let $comment = $("#commit #comment");
      let comment = $comment.val();
      let reply_id = $("#reply-id").val();
      let name;
      {% if not request.user.is_authenticated %}
        let $name = $("#commit #name");
        name = $name.val();
      {% else %}
        name = "{{ request.user.username }}";
      {% endif %}
      if (comment.length === 0) {
        $comment.focus();
      }
          {% if not request.user.is_authenticated %}
            else if (name.length === 0) {
            $name.focus();
          }
          {% endif %}
      else {
        $.ajax({
          type: "POST",
          url: "{% url "foreground:comment" %}",
          data: {
            "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val(),
            "comment": comment,
            "name": name,
            "article_id": {{ article.id }},
            "reply_id": reply_id,
          },
          success: function (data) {
            if (data.hasOwnProperty('failed')) {
              alert(data.failed);
            } else if (data.hasOwnProperty('reply_id')) {
              reset_commit();
              // insert new comment reply
              let author = "";
              if (data.is_author === "True") {
                author = "<span class=\"fa fa-paint-brush\"></span>"
              }
              $(`#comment-${reply_id} .reply-list`).prepend(
                  "<hr>" +
                  `<div>${author}${name}</div>` +
                  `<small class="text-secondary">${data.create_time}</small>` +
                  `<p>${comment}</p>`
              );
            } else {
              reset_commit();
              // insert new comment
              let author = "";
              if (data.is_author === "True") {
                author = "<span class=\"fa fa-paint-brush\"></span>"
              }
              $("#comment-list").prepend(
                  " <div>" +
                  `<div>${author}${name}</div>` +
                  `<small class="text-secondary">${data.create_time}</small>` +
                  `<p>${comment}</p>` +
                  `<button class="btn btn-sm btn-link p-0 reply" onclick="reply(this, ${data.id})"><i class="fa fa-reply mr-1" aria-hidden="true"></i>Reply` +
                  "</button>" +
                  "</div>" +
                  "<hr>"
              );
            }
          },
          error: function (XMLHttpRequest, textStatus, errorThrown) {
            alert(XMLHttpRequest.status + ' ' + errorThrown);
          },
          dataType: "json",
        });
      }
    }

    function reply(event, reply_id) {
      $("#commit .cancel-reply").attr("hidden", false);
      $("#commit #reply-id").val(reply_id);
      $("#commit").insertAfter((event.parentNode));
    }

    function cancel_reply() {
      $("#commit").insertAfter(($("#comment-list")));
      $("#commit .cancel-reply").attr("hidden", true);
      $("#commit #reply-id").val("");
    }

    function reset_commit() {
      $("#commit").insertAfter(($("#comment-list")));
      $("#commit .cancel-reply").attr("hidden", true);
      $("#commit #reply-id").val("");

      $("#commit #comment").val("");
      {% if not request.user.is_authenticated %}
        $("#commit #name").val("");
      {% endif %}
    }
  </script>
{% endblock %}