{% extends "foreground/base.html" %}
{% load static %}

{% block head %}
  <link href="{% static 'libs/editor.md/css/editormd.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div id="article">
    <div class="article-head">
      <h3>{{ article.title }}</h3>
      <div class="badge badge-light text-right text-secondary">
        <i class="fa fa-clock-o"></i> {{ article.create_time | date:"Y-m-d H:i:s" }}
      </div>
      {% if request.user.is_superuser %}
        <a id="edit" href="{% url 'background:publish_get' %}?article_id={{ article_id }}" class="text-secondary">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </a>
      {% endif %}
    </div>
    <div class="editormd-preview-theme-light d-block">
      <div id="content">
        <textarea style="display:none;">{{ article.content }}</textarea>
      </div>
    </div>
    <div id="comments">
      <h5>Comments</h5>
      <hr>
      <div id="comment-list">
        {% for comment in article.comments.iterator %}
          <div id="card-tags" class="card w-100">
            {#        <img class="card-img-top" src="..." alt="Card image cap">#}
            <div class="card-body mt-0 pt-0">
              <div class="font-weight-normal">{{ comment.name }}</div>
              <p>{{ comment.comment }}</p>
              <button class="btn btn-sm btn-link float-sm-right" onclick="reply()"><i class="fa fa-reply"> Reply</i></button>
            </div>
          </div>
        {% endfor %}
      </div>
      <div id="commit">
      <textarea id="comment" class="form-control" placeholder="* Your comment" style="height: 100px;"
                minlength="10"></textarea>
        {% if not request.user.is_authenticated %}
          <input id="name" type="text" class="form-control form-control-sm mt-1" placeholder="* Name" maxlength="16">
        {% endif %}
        <button class="btn btn-sm btn-dark mt-1 pl-4 pr-4" onclick="commit_comment()"> Post</button>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script src="{% static 'libs/editor.md/lib/marked.min.js' %}"></script>
  <script src="{% static 'libs/editor.md/lib/prettify.min.js' %}"></script>
  <script src="{% static 'libs/editor.md/lib/raphael.min.js' %}"></script>
  <script src="{% static 'libs/editor.md/lib/underscore.min.js' %}"></script>
  <script src="{% static 'libs/editor.md/lib/sequence-diagram.min.js' %}"></script>
  <script src="{% static 'libs/editor.md/lib/flowchart.min.js' %}"></script>
  <script src="{% static 'libs/editor.md/lib/jquery.flowchart.min.js' %}"></script>
  <script src="{% static 'libs/editor.md/editormd.js' %}"></script>
  <script>
    let testEditor;
    $(function () {
      testEditor = editormd.markdownToHTML("content", {//注意：这里是上面DIV的id
        htmlDecode: "style,script,iframe",
        emoji: true,
        taskList: true,
        tex: true, // 默认不解析
        flowChart: true, // 默认不解析
        sequenceDiagram: true, // 默认不解析
        codeFold: true,
      });
    })

    function commit_comment() {
      let $comment = $("#commit #comment");
      let comment = $comment.val();
      {% if not request.user.is_authenticated %}
        let name = $("#commit #name").val();
      {% endif %}
      if (comment.length == 0) {
        $comment.focus();
      }
          {% if not request.user.is_authenticated %}
            else if (name.length == 0) {
            $("#commit #name").focus();
          }
          {% endif %}
      else {
        $.ajax({
          type: "POST",
          url: "{% url "foreground:comment" %}",
          data: {
            "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val(),
            "comment": comment,
            {% if not request.user.is_authenticated %}
              "name": name,
            {% endif %}
            "article_id": {{ article.id }},
          },
          success: function (data) {
            if (data.hasOwnProperty('failed')) {
              alert(data.failed);
            } else {
              alert("comment succeed");
              {#let $comment_list = $("#comment-list");#}
            }
          },
          error: function (XMLHttpRequest, textStatus, errorThrown) {
            alert(XMLHttpRequest.status + ' ' + errorThrown);
          },
          dataType: "json",
        });
      }
    }
    
    function reply() {
      
    }
  </script>
{% endblock %}