{% extends 'foreground/base.html' %}
{% block content %}
  <div id="article-list">
    {% for article in articles %}
      <a href="{% url 'foreground:article' article.id %}">
        <div class="article rounded p-3">
          <h4 class="text-dark">{{ article.title }}</h4>
          <span class="badge badge-light text-secondary c-time">
              <i class="fa fa-clock-o mr-1"></i>{{ article.create_time|date:"c" }}
          </span>
          {% if article.page_view %}
            <span class="badge badge-light text-secondary"><i class="fa fa-eye mr-1"></i>{{ article.page_view }}</span>
          {% endif %}
          {% if article.comments.count %}
            <span class="badge badge-light text-secondary">
            <i class="fa fa-comments-o mr-1"></i>{{ article.comments.count }}
          </span>
          {% endif %}
          {% if article.tags.count %}
            <span class="badge badge-light text-secondary">
              <i class="fa fa-tags mr-1"></i>{% for tag in article.tags.iterator %}{{ tag.name }} {% endfor %}
            </span>
          {% endif %}
        </div>
      </a>
    {% endfor %}
  </div>
{% endblock %}
{% block script %}
  <script>
    $(function () {
      let $times = $.find(".c-time");
      $times.forEach(function ($t) {
        let date = (new Date(Date.parse($t.innerText))).toLocaleDateString();
        $t.innerHTML = `<i class="fa fa-clock-o mr-1"></i>${date}`;
      })
    })
  </script>
{% endblock %}
