{% extends 'foreground/base.html' %}
{% block content %}
  <div id="article-list">
    {% for article in articles %}
      <a href="/foreground/articles/{{ article.id }}">
        <div class="article rounded m-3 p-2">
          <h5 class="text-dark">{{ article.title }}</h5>
          <span class="badge badge-light text-secondary">
              <i class="fa fa-clock-o"></i> {{ article.create_time | date:"Y-m-d" }} </span>
          <span class="badge badge-light text-secondary"><i class="fa fa-eye"></i> {{ article.views.count }}</span>
        </div>
      </a>
    {% endfor %}
  </div>
{% endblock %}
